* {
  font-family: sans-serif;
}

.main-container {
  display: flex;
}

/* Style the search box */
.sidebar {
  width: 25%;
}

.crud-search {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

.crud-main {
  position: relative;
}

.crud-input-container {
  position: relative;
  cursor: text;
  margin: 1rem 0rem;
}

.crud-inputs {
  position: fixed;
  overflow: hidden;
  padding: 2rem;
}

.crud-input-legend {
  color: #678
}

.crud-input-item {
  padding: 1rem;
  border: 0;
  width: 100%;
  min-width: 0;
  display: block;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
}

.crud-input-item:focus {
  outline: 0;
}

.crud-input-fieldset {
  top: -9px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  transition: padding-left 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, border-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, border-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  pointer-events: none;
}

/* Style the navigation menu */
.crud-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
.crud-list-item {
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: all .4s;
}

.crud-list li:hover {
  background-color: #fea;
}

.crud-list-item-highlight {
  background-color: greenyellow;
}