* {
  box-sizing: content-box;
  margin: 0;
  font-family: sans-serif;
}

body {
  padding: 24px;
}

.panel {
  display: flex;
  margin-bottom: 2rem;
}

.low-stock {
  font-weight: 600;
  background-color: #FCC;
  color: red;
}

.table-header-cantidad,
.table-header-descuentos,
.table-precio-unitario,
.table-precio-total {}

.table-header-codigo {
  min-width: 150px;
}

.table-header-descripcion {
  min-width: 500px;
}

table {
  border-collapse: collapse;
  margin-bottom: 36px;
}

td {
  text-align: left;
  border-left: 1px solid silver;
}

.table-cell-cantidad,
.table-cell-precioUnitario,
.table-cell-descuentoIndividual {
  padding: 0px;
  margin: 0px;
  background-color: #eee;
  border: 1px solid #bbb;
}

.table-cell-cantidad input,
.table-cell-precioUnitario input,
.table-cell-descuentoIndividual input {
  width: 100%;
  height: 32px;
  border: none;
  background-color: #eee;
}

.table-cell-precioTotal {
  font-size: 1.2rem;
  font-weight: 600;
  background-color: greenyellow;
}

.table-cell-codigo,
.table-cell-descripcion,
.table-cell-precioBase,
.table-cell-precioTotal {
  padding: 8px;
  margin: 8px;
}

tr:nth-child(even) {
  background-color: #ffedde;
}


th {
  padding: 8px;
  margin: 8px;
  text-align: left;
}

th {
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
}

.venta__label {
  text-transform: capitalize;
}

.error-shake {
  animation: shake 0.2s ease-out;
  outline: red 1px solid;
}

@keyframes shake {
  0% {
    transform: translateX(4px);
  }

  20% {
    transform: translateX(-4px);
  }

  40% {
    transform: translateX(4px);
  }

  60% {
    transform: translateX(-4px);
  }

  80% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0);
  }
}