* {
  box-sizing: content-box;
  margin: 0;
}

.input-grid {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 22rem max-content;
  grid-row-gap: 1rem;
  justify-items: left;
}

.basic-input-label {
  margin-right: 1rem;
}

.low-stock {
  font-weight: 600;
  background-color: #FCC;
  color: red;
}

.rt-td:hover {
  /* width: initial;
  min-width: max-content; */
  background-color: #FDA;
  z-index: 1000;
}

.table-header-valor {
  width: 10rem;
}

.table-header-cantidad {
  width: 3rem;
}

.table-header-codigo {
  min-width: 12rem;
  width: 12rem;
  max-width: max-content;
}

.table-header-descripcion {
  width: 30rem;
}

.table-header-stock,
.table-header-stock-nuevo {
  width: 3rem;
}

.table-header-precio-base {
  width: 5rem;
}

.table-header-precio-unitario {
  width: 5rem;
}

.table-header-precio-total {
  width: 5rem;
}

.table-header-descuentos {
  width: 5rem;
}


#table {
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.tabla-transaccion-cell {
  text-align: center;
  color: #333;
  border: 1px solid #bbb;
  padding: 0px;
  margin: 0px;
}

.tabla-transaccion-cell input {
  color: #333;
  padding-left: 25%;
  width: 75%;
  height: 40px;
  border: none;
  background-color: #eff;
  font-size: 1.2rem;
  font-weight: 500;
}

.tabla-transaccion-stock {
  font-size: 1.2rem;
  font-weight: 500;
}

.tabla-transaccion-precioTotal {
  font-size: 1.4rem;
  font-weight: 500;
  color: black;
  background-color: #ded;
}

.tabla-transaccion-precioTotal::first-letter {
  margin-right: 2px;
}

.tabla-transaccion-precioBase,
.tabla-transaccion-stockNuevo {
  color: #333;
  font-weight: 300;
  font-size: 1rem;
}

.tabla-transaccion-codigo,
.tabla-transaccion-descripcion,
.tabla-transaccion-precioBase,
.tabla-transaccion-precioTotal {
  padding: 8px;
  margin: 8px;
}

tr:nth-child(even) {
  background-color: #d9fff4;
}


th {
  padding: 8px;
  margin: 8px;
  text-align: center;
}

th {
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
  font-weight: 500;
  font-size: 1.2em;
}

.venta__label {
  text-transform: capitalize;
}

.main_input-rename {
  padding: 4px;
}

.error-shake {
  animation: shake 0.2s ease-out;
  outline: red 1px solid;
}

.RED-TEXT {
  font-size: 1.2rem;
  font-weight: 600;
  color: orangered;
}

.venta__pago-item {
  margin: 0 1rem;
}

@keyframes shake {
  0% {
    transform: translateX(4px);
  }

  20% {
    transform: translateX(-4px);
  }

  40% {
    transform: translateX(4px);
  }

  60% {
    transform: translateX(-4px);
  }

  80% {
    transform: translateX(-4px);
  }

  100% {
    transform: translateX(0);
  }
}